<section id="main" class="about">
  <div class="text-center container-fluid title-container">
    <div class="row">
      <div class="col-md-6 align-self-center">
        <div class="main-title text-center">Про клуб СК "САПСАН"</div>
      </div>
      <div class="col-md-6 align-self-center">
        <div class="main-description text-left">
          Адреса клубу: Вінницька область, Чечельницький район, смт. Чечельник, вул Котовського, 15
          <br>
          Тренування проходять в приміщенні Чечельницького ДЮСШ (2-й поверх), Понеділок, Середа, П`ятниця з 17:00 до
          18:30
        </div>
      </div>
    </div>
  </div>
  <div class="main-line">
    <div class="row">
      <div class="col-3 align-self-center">
        <img width="250px" src="/img/logo-clear-copy.png" alt="">
      </div>
      <div class="col-9 align-self-center">
        <div>
          Спортивний клуб "САПСАН" створений з метою сприяння розвитку рукопашного бою та східних видів двобою у
          Чечельницькому районі, підвищення ролі фізичної культури та спорту у всебічному і гармонійному розвитку
          особистості,
          зміцнення здоров’я, формування здорового способу життя шляхом наполегливої праці над собою.
          <br>
          <br>
          Ви оволодієте ударною та борцівською техніками, прийомами самозахисту (захист від холодної та вогнепальної
          зброї) а
          також вмінням комбінувати ці техніки.
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="location"></div>
</section>
