<section id="main" class="relative about">
  <div class="text-center container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="main-title text-center">Про клуб СК "САПСАН"</div>
      </div>
      <div class="col-md-6">
        <div class="main-description text-center" style="font-family: 'Montserrat', sans-serif;">
          Тренування проходять в приміщенні Чечельницького ДЮСШ (2-й поверх) Понеділок, Середа, П`ятниця з 17:00 до
          18:30
        </div>
      </div>
    </div>
  </div>
  <div class="main-line">
    <div class="row">
      <div class="col-4">
        <img width="250px" src="/img/logo-clear-copy.png" alt="">
      </div>
      <div class="col-8">
        Спортивний клуб "САПСАН" створений з метою сприяння розвитку рукопашного бою та східних видів двобою у
        Чечельницькому районі, підвищення ролі фізичної культури та спорту у всебічному і гармонійному розвитку
        особистості,
        зміцнення здоров’я, формування здорового способу життя шляхом наполегливої праці над собою.
        <br>
        <br>
        Ви оволодієте ударною та борцівською техніками, прийомами самозахисту (захист від холодної та вогнепальної
        зброї) а
        також вмінням комбінувати ці техніки.
      </div>
    </div>
  </div>
</section>
<section class="about-description" style="background-color: #fb0;"></section>