<section id="main" class="coach">
  <div class="text-center container-fluid">
    <div class="row">
      <div class="head-cols col-lg-6">
        <div class="main-title text-center">Тренер клубу - Таранець Дмитро</div>
      </div>
    </div>
  </div>
  <div class="main-line relative">
    <img class="main-img" src="/img/coach/dima.png">
    <div class="row">
      <div class="col-6">
        Таранець Дмитро Миколайович - засновник та тренер клубу. Тричі чемпіон України по змішаним єдиноборствам. Бере
        участь у різних змаганнях, у тому числі з самбо на обласних рівнях. [інший опис тут додати]
      </div>
    </div>
  </div>
  <div class="container-fluid option-line relative">
    <div class="row">
      <div class="col-md-4">
        Участі у змаганнях:

        <ul>
          <li>
            10.07.2017 м. Львів - Самбо
            <br>
            Зайняте місце - і
          </li>
          <br>
          <li>
            10.07.2017 м. Київ - Змішані єдиноборства
            <br>
            Зайняте місце - і
          </li>
          <br>
          <li>
            10.07.2017 м. Львів - Самбо
            <br>
            Зайняте місце - і
          </li>
          <br>
          <li>
            10.07.2017 м. Львів - Самбо
            <br>
            Зайняте місце - і
          </li>
          <br>
        </ul>
      </div>
      <div class="col-md-8"></div>
    </div>
  </div>
  <div class="main-line relative">
    <div class="row">
      <div class="col-md-4">
        <img class="desc-img w-100 mb-4 mb-md-0" src="/img/coach/dima_full.jpg" alt="">
      </div>
      <div class="col-md-8">
        <p>
          Дмитро Миколайович - розпочав тренуватись під час навчанняв університеті .... Ходив у спотривний клуб ... де
          тренував його ... тренер ...
        </p>

        <p>
          Дмитро Миколайович - розпочав тренуватись під час навчанняв університеті .... Ходив у спотривний клуб ... де
          тренував його ... тренер ...
        </p>

        <p>
          Дмитро Миколайович - розпочав тренуватись під час навчанняв університеті .... Ходив у спотривний клуб ... де
          тренував його ... тренер ...
        </p>
      </div>
    </div>
  </div>
</section>
