<section id="main" class="coach">
  <div class="text-center container-fluid">
    <div class="row">
      <div class="head-cols col-lg-6">
        <div class="main-title text-center">Тренер клубу - Таранець Дмитро</div>
      </div>
    </div>
  </div>
  <div class="main-line relative">
    <img class="main-img" src="/img/coach/dima.png">
    <div class="row">
      <div class="col-6">
        Спортивний клуб "САПСАН" створений з метою сприяння розвитку рукопашного бою та східних видів двобою у
        Чечельницькому районі, підвищення ролі фізичної культури та спорту у всебічному і гармонійному розвитку
        особистості,
        зміцнення здоров’я, формування здорового способу життя шляхом наполегливої праці над собою.
      </div>
    </div>
  </div>
</section>
