<nav class="navbar navbar-expand-md navbar-light fixed-top">
  <a class="navbar-brand menu-logo d-flex align-items-center" href="/">
    <img src="/img/logo-clear-copy.png" />
    <span><b>СК САПСАН</b></span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Головна <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/coach">Тренер</a>
      <a class="nav-item nav-link" href="/sportsmen">Спортсмени</a>
      <a class="nav-item nav-link" href="/about">Про клуб</a>
    </div>
  </div>
</nav>