<section id="main" class="relative">
  <img class="main-img absolute-center" src="/img/full/14.png">
  <div class="text-center container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="main-title text-center">СК САПСАН</div>
      </div>
      <div class="col-md-6">
        <div class="main-description" style="font-family: 'Montserrat', sans-serif;">
          Спортивний клуб "САПСАН" створений з метою сприяння розвитку рукопашного бою та східних видів
          двобою у Чечельнику, Вінницької області
        </div>
      </div>
    </div>
  </div>
  <div class="main-line"></div>
  <img class="left-img absolute" src="/img/judo_tr_bl_yel.png">
  <img class="right-img absolute" src="/img/judo_tr_bl_yel.png">
</section>

<section id="news">
  <div class="">
    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="titles">
          <div class="img">
            <img src="/img/mma-logo.png" />
          </div>
          <div class="title">
            <h2>Чемпіонат України зі змішаних єдиноборств ММА серед дітей та юнаків</h2>
          </div>
          <div class="description"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <iframe width="100%" height="350px" src="https://www.youtube.com/embed/0JuY2lDMO8Y" frameborder="0"
          allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div class="titles">
          <div class="img">
            <img src="/img/champ.png" />
          </div>
          <div class="title">
          </div>
          <div class="description">
            <p>
              Сьогодні, управління фізичної культури та спорту Вінницької ОДА, за підсумками обласного рейтингу 2018
              року, нагородили Наш Клуб "Сапсан" дипломом за зайняте ІІІ місце серед спортивних клубів з неолімпійських
              видів спорту.
            </p>

            <p>
              Нагорода, в яку кожен спортсмен зробив свій власний внесок, беручи участь та перемагаючи в чемпіонатах
              області та України з #Рукопашногобою, #Ушу, #Кікбоксингу та #Бойовогосамбо.
            </p>

            <p>
              За можливість здійснювати поїздки Дякуємо Чернезі Борису Федоровичу, Чечельницькій РДА та батькам
              спортсменів, без довіри та допомоги яких, не можна було б і мріяти про якісь результати.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="img-galary">
          <div id="1" class="gallery"></div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>
    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div id="2" class="gallery"></div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="titles">
          <div class="img">
            <img src="/img/fit.png" />
          </div>
          <div class="title">
            <h2>Бо наші найкращі, як завжди!</h2>
          </div>
          <div class="description">
            <p>
              Сьогодні, Чечельницька РДА та районна рада в честь дня захисту дітей, відзначили
              грамотами та грошовими винагородами кращих спортсменів клубу, чемпіонів України,
              області та призерів.
            </p>
            <p>
              Чемпіони України:
              <ul>
                <li>Рубан Антон</li>
                <li>Соловей Олександр</li>
                <li>Кривіцький Микола</li>
              </ul>
              Бронзовий призер чемпіонату України:
              <ul>
                <li>Панасюк Андрій</li>
              </ul>
              Чемпіон області:
              <ul>
                <li>Чернега Артем</li>
              </ul>
              Призери чемпіонату області:
              <ul>
                <li>Сініцин Максим</li>
                <li>Шиян Артур</li>
                <li>Мураховський Ростислав</li>
              </ul>
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="titles">
          <div class="img">
            <img src="/img/comp.png" />
          </div>
          <div class="title">
            <h2>Чемпіонат України серед юнаків та юніорів</h2>
          </div>
          <div class="col-md-6 float-right">
            <div id="3" class="gallery"></div>
          </div>
          <div class="description">
            <p>
              10-12 травня, в Києві, відбувся основний турнір для юних рукопашників - Чемпіонат
              України серед юнаків та юніорів.
              Весь змагальний сезон ми ставили завдання та намагались їх виконати, проводили
              семінари
              із самбо з <b>Ivan Vasylchuk</b> та вільної боротьби з <b>Коля Омельчук</b>, після
              чого намагались
              застосувати отриманні навички в реальних поєдинках.
            </p>
            <p>
              Спортивний клуб "Сапсан" в збірній області представляли 9 бійців : <b>Чернега Артем,
                Барабаш Кіріл, Рубан Антон, Баранюк Андрій, Панасюк Андрій, Шиян Артур, Соловей
                Олександр, Барановський Владислав та Кривіцький Миколай.</b>
            </p>
            <p>
              Перший день видався вже плідним - <b>Кривіцький Коля</b> зайняв ІІІ місце в розділі
              Демонстрація техніки (1 тур).
              Другого дня <b>Панасюк Андрій</b> виборов ІІІ місце в легкому контакті (semi contact)
              .
              І основним етапом був третій день, повний контакт (full contact) , де всі рішуче
              почали
              свій шлях до заповітного звання "Чемпіона України". Але не всі змогли дійти до кінця.
              ..
            </p>

            Цього року ми значно покращили результат, і маємо 3 чемпіона України:
            <ul>
              <li><b>Рубан Антон</b> вікова категорія 10-11 р. до 30 кг.</li>
              <li><b>Саша Соловей</b> підтвердив чемпіонство в новій віковій категорії 14-15 р. +75</li>
              <li><b>Коля Кривіцький</b> 16-17 р. 75 кг.</li>
            </ul>
            <p>
              В загальному підсумку, Вінницька область посіла І місце в повному контакті серед 19
              областей.
              Кожна медаль давалась не просто і ми побачили над чим потрібно працювати далі...
            </p>

            <p>
              Від себе хочу подякувати хлопцям за самовіддачу.
              Окремої подяки, від мене та батьків заслуговує <b>Борис Федорович Чернега</b>, людина
              яка
              впродовж всього року допомагала нам у підготовці та участі у всіх змаганнях.
              Дякую батькам, які завжди цікавляться своїми дітьми, тим чим вони займаються, та
              беруть
              активну участь у їх становленні.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div id="4" class="gallery"></div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="titles">
          <div class="img">
            <img src="/img/df.png" />
          </div>
          <div class="title">
            <h2>Приймаємо гостей</h2>
          </div>
          <div class="description">
            5 травня, <b>СК "Сапсан"</b> третій раз прийматиме вдома клуби рукопашного бою
            Вінницької
            області, а також гостей з міста Чернівці, на обласному турнірі з рукопашного бою серед
            юнаків та дівчат.
            Нагороди та цінні подарунки вже чекають на своїх переможців 👊
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <div class="titles">
          <div class="img">
            <img src="/img/comp.png" />
          </div>
          <div class="title">
            <h2>Результати чемпіонату</h2>
          </div>
          <div class="col-md-6 float-right">
            <div id="5" class="gallery"></div>
          </div>
          <div class="description">
            В суботу, 21 квітня, відбувся чемпіонат Вінницької області з рукопашного бою. Даний
            турнір є основним в змагальному календарі обласної федерації, переможці стають членами
            збірної області та представлятимуть її на чемпіонаті України 10-12 травня.
            Цього року турнір був значно сильнішим за минулий, а бійці підготовленіші технічно і
            фізично 💪 тому кожна нагорода давалась важко, але смак її не передати словами...

            Переможну серію з наших розпочав Чернега Артем, в категорії 8-9 років до 30 кг виборов
            золото, а серед старших 10-11 срібло. Також Артем в п'ятницю переміг на турнірі з боксу
            👊
            Рубан Антон виборов бронзу.
            Сініцин Максим у віковій 12-13 здобув теж бронзу та кубок "за волю до перемоги",
            займаючись 6 місяців показав справжній чоловічий характер проти значно досвідченіших
            противників.
            Мураховський Ростислав та Шиян Артур стали срібними призерами чемпіонату.
            Саша Соловей дебютував у віці 14-15 років, у принциповому першому поєдинку виконав всі
            поставлені завдання на бій і закінчив достроково больовим на руку, інші бої розмірено
            виграв по балах і став чемпіоном, отримавши кубок за кращу техніку.
            Кривіцький Коля впевнено переміг своїх противників єдиноголосним рішенням суддів і
            також став чемпіоном.
            В командному заліку СК "Сапсан " посів ІІІ місце, поступилися команді
            "Альтаїр"м.Томашпіль, та "Оріону" м. Липовець.

            Покищо це найкращий результат для нашого клубу, до якого ми рухались🏇🏍🏎🚄 протягом
            всього року, змагаючись на різного рівня турнірах, організовуючи тренувальні семінари з
            майстрами спорту з вільної боротьби та боротьби самбо.

            В цьому постійно з нами перебував, давав корисні поради та допомагав Чернега Борис
            Федорович, за що йому велика подяка від мене та від всього клубу!!!

            Також дякуємо Чечельницькій РДА та керівнику відділу освіти Деменчук Галині Василівні,
            за наданий автобус для перевезення дітей.
          </div>
        </div>
      </div>
    </div>

    <div class="row news-row">
      <div class="col-md-1"></div>
      <div class="col-md-4">
        <div id="6" class="gallery"></div>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <div class="titles">
          <div class="img">
            <img src="/img/comp.png" />
          </div>
          <div class="title">
            <h2>Вітаємо переможця!</h2>
          </div>
          <div class="description">
            <p>
              З 6 по 10 червня в смт. Затока, Одеської області відбувся міжнародний турнір з боксу
              "Олімпійські надії" в якому приймали участь спортсмени з Молдови, Болгарії та
              України.
            </p>
            <p>
              Спортсмен нашого клубу <b>Чернега Артем</b>, в складі збірної Вінницької області з
              боксу також
              взяв участь та достойно виступив. У ваговій категорії до 32 кг виграв всі поєдинки та
              зайняв І місце 🏅🏆
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-1"></div>
    </div>

  </div>
</section>