<section id="main" class="relative sportsmen">
  <!-- <img class="main-img absolute-center" src="/img/coach/dima.png"> -->
  <div class="text-center container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="main-title text-center">Спортсмени клубу</div>
      </div>
      <!-- <div class="col-md-6">
        <div class="main-description" style="font-family: 'Montserrat', sans-serif;">
          Тренер Спортивного клубу "САПСАН" у Чечельнику, Вінницької області
        </div>
      </div> -->
    </div>
  </div>
  <div class="main-line">
    <div class="row">
      <div class="col-6">
        
      </div>
    </div>
  </div>
</section>