<section id="main" class="relative coach">
  <div class="text-center container-fluid">
    <div class="row">
      <div class="col-md-6">
        <div class="main-title text-center">Про клуб СК "САПСАН"</div>
      </div>
      <div class="col-md-6">
        <div class="main-description" style="font-family: 'Montserrat', sans-serif;">
          Спортивний клуб "САПСАН" створений з метою сприяння розвитку рукопашного бою та східних видів
          двобою у Чечельнику, Вінницької області
        </div>
      </div>
    </div>
  </div>
  <div class="main-line"></div>
</section>