<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Start Bootstrap</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav full-width">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">
            <img class="logo absolute-center no-select" src="/img/logo-lg-sq.png"/>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      <div class="carousel-item active" style="background-image: url('/img/main1.jpg')">
        <div class="carousel-caption d-none d-md-block">
          <h3>First Slide</h3>
          <p>This is a description for the first slide.</p>
        </div>
      </div>
      <!-- Slide Two - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Second Slide</h3>
          <p>This is a description for the second slide.</p>
        </div>
      </div>
      <!-- Slide Three - Set the background image for this slide in the line below -->
      <div class="carousel-item" style="background-image: url('http://placehold.it/1900x1080')">
        <div class="carousel-caption d-none d-md-block">
          <h3>Third Slide</h3>
          <p>This is a description for the third slide.</p>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</header>

<!-- Page Content -->
<section class="py-5">
  <div class="container">
    <h1>Full Slider by Start Bootstrap</h1>
    <p>The background images for the slider are set directly in the HTML using inline CSS. The rest of the styles for
      this template are contained within the
      <code>full-slider.css</code>
      file.</p>
  </div>
</section>

<!-- Footer -->
<footer class="py-5 bg-dark">
  <div class="container">
    <p class="m-0 text-center text-white">Copyright &copy; Your Website 2018</p>
  </div>
  <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>

</body>


<!--<div class="navbar navbar-fixed-top">-->
<!--<div class="">-->
<!--<div class="navbar-header">-->
<!--<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--<span class="icon-bar"></span>-->
<!--</button>-->
<!--</div>-->
<!--<div class="navbar-collapse collapse text-center">-->
<!--<ul class="nav navbar-nav">-->
<!--<li><a>Головна</a></li>-->
<!--<li><a>Про клуб</a></li>-->
<!--<li><a class="logo-link"><img class="logo no-select" src="/img/logo.png"/></a></li>-->
<!--<li><a>Тренер</a></li>-->
<!--<li><a>Контакти</a></li>-->
<!--</ul>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="wrapper no-select">-->

<!--</div>-->

<!--<div class="video-background">-->
<!--<div class="video-foreground">-->
<!--<iframe id="player" src="https://www.youtube.com/embed/ENc9gDLKStA?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&start=0&enablejsapi=1"-->
<!--frameborder="0" allowfullscreen></iframe>-->
<!--</div>-->
<!--</div>-->

<!--<div class="wrapper">-->
<!--<img src="/img/main1.jpg" alt=""/>-->
<!--</div>-->

<!--<div class="vertical-center head text-center">-->
<!--<b>-->
<!--<span class="blue">СК </span>-->
<!--<span class="red">САПСАН</span>-->
<!--</b>-->
<!--<div class="head-title">-->
<!--Спортивний клуб рукопашного бою та східних видів двобою у Чечельницькому районі-->
<!--</div>-->
<!--</div>-->

<!--<img class="logo-large no-select" src="/img/eagle.png" alt="ск сапсан">-->