<section id="main" class="relative sportsmen">
  <!-- <img class="main-img absolute-center" src="/img/coach/dima.png"> -->
  <div class="text-center container-fluid">
    <div class="row">
      <div class="head-cols col-md-6">
        <div class="main-title text-center">Спортсмени клубу</div>
      </div>
      <div class="head-cols col-md-6">
        <div class="main-description">
          <img class="desc-img w-100 mb-4 mb-md-0" src="/img/sportsmen/mD7ZFdtx6tQ.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="main-line">
    <div class="container-fluid">
      <div class="row pt-5">
        <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
          <img class=" sportsmen-img" src="/img/sportsmen/ss.png" alt="">
          <div>
            <h3><b>Соловей Олександр</b></h3>
            <p>[Короткий опис]</p>
            <p>Призові місця:</p>
            <p>
              <ul>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Київ - Змішані єдиноборства
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
              </ul>
            </p>
          </div>
        </div>
        <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
          <img class="sportsmen-img" src="/img/sportsmen/qww.png" alt="">
          <div>
            <h3><b>Не як знаю звати</b></h3>
            <p>[Короткий опис]</p>
            <p>Призові місця:</p>
            <p>
              <ul>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Київ - Змішані єдиноборства
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
              </ul>
            </p>
          </div>
        </div>
        <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
          <img class="sportsmen-img" src="/img/sportsmen/we.png" alt="">
          <div>
            <h3><b>Тоже не знаю</b></h3>
            <p>[Короткий опис]</p>
            <p>Призові місця:</p>
            <p>
              <ul>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Київ - Змішані єдиноборства
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
              </ul>
            </p>
          </div>
        </div>
        <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
          <img class=" sportsmen-img" src="/img/sportsmen/ss.png" alt="">
          <div>
            <h3><b>Соловей Олександр</b></h3>
            <p>[Короткий опис]</p>
            <p>Призові місця:</p>
            <p>
              <ul>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Київ - Змішані єдиноборства
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
                <li>
                  10.07.2017 м. Львів - Самбо
                  <br>
                  Зайняте місце - і
                </li>
                <br>
              </ul>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class=" sportsmen-img" src="/img/sportsmen/ss.png" alt="">
        <div>
          <h3><b>Соловей Олександр</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/qww.png" alt="">
        <div>
          <h3><b>Не як знаю звати</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/we.png" alt="">
        <div>
          <h3><b>Тоже не знаю</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/ss.png" alt="">
        <div>
          <h3><b>Соловей Олександр</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/qww.png" alt="">
        <div>
          <h3><b>Не як знаю звати</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/we.png" alt="">
        <div>
          <h3><b>Тоже не знаю</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/ss.png" alt="">
        <div>
          <h3><b>Соловей Олександр</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/qww.png" alt="">
        <div>
          <h3><b>Не як знаю звати</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/we.png" alt="">
        <div>
          <h3><b>Тоже не знаю</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/ss.png" alt="">
        <div>
          <h3><b>Соловей Олександр</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/qww.png" alt="">
        <div>
          <h3><b>Не як знаю звати</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
      <div class="sportsmen-col col-sm-6 col-md-4 col-lg-3">
        <img class="sportsmen-img" src="/img/sportsmen/we.png" alt="">
        <div>
          <h3><b>Тоже не знаю</b></h3>
          <p>[Короткий опис]</p>
          <p>Призові місця:</p>
          <p>
            <ul>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Київ - Змішані єдиноборства
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
              <li>
                10.07.2017 м. Львів - Самбо
                <br>
                Зайняте місце - і
              </li>
              <br>
            </ul>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
