doctype html
html(lang='uk', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //todo:
    meta(name='description', content='')
    meta(name='keywords', content='')

    title= title
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    <link rel="stylesheet" href="/styles/images-grid.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,900" rel="stylesheet">

  body
    block content

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<script src="/js/images-grid.js"></script>
script(src='/js/scripts.js')
