doctype html
html(lang='uk', xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
    //todo:
    meta(name='description', content='')
    meta(name='keywords', content='')

    title= title
    link(rel='shortcut icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/style.css')
    <link rel="stylesheet" href="/styles/images-grid.css">
    <link href="//fonts.googleapis.com/css?family=Google+Sans:400,500%7CRoboto:400,500%7CProduct+Sans:400%7C&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext,vietnamese" rel="preconnect stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,900" rel="stylesheet">

  body
    block content

<script src="//code.jquery.com/jquery.min.js"></script>
<script src="/js/images-grid.js"></script>
script(src='/js/scripts.js')
